<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<div id="welcome">
			<div id="announcer" class="announcer"><p><strong>Bienvenido </strong><br><p id="welcome_guest"></p></p></div>
			<div id="upper">
				<div id="upper_left_first" class="upper_left"><p></p></div>
				<div id="upper_left_second" class="upper_left hidden"><p></p></div>
				<div id="upper_right_first" class="upper_right"><p></p></div>
				<div id="upper_right_second" class="upper_right hidden"><p></p></div>
			</div>
			<div id="downy">
				<div id="bottom_left_first" class="bottom_left"><p></p></div>
			 	<div id="bottom_left_second" class="bottom_left hidden"><p></p></div>
				<div id="bottom_right_first" class="bottom_right"><p></p></div>
				<div id="bottom_right_second" class="bottom_right hidden"><p></p></div>
				<div id="rights" class="legend"><p>2013 &copy Inteligent Labs S de RL de CV</p></div>
			</div>
			
		</div>
		<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
		<script type="text/javascript" src="js/jquery.transit.min.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		<script type="text/javascript" src="js/subs.js"></script>
	</body>
</html>